{{extend 'layout.html'}}

<div class="container">
    <div class="row jumbotron">
        <div class="col-md-12">
            <!-- Content Full Width -->
            <div class="horizontal">

                <!-- input control for **first_name** -->

                <div class="input-group">
                    <label for="first_name" class="col-md-2">First name</label>
                    <input type="text" value="{{=item.first_name}}" readonly class="col-md-10 form-control" placeholder="Enter first name" aria-describedby="customer first name">
                </div>

                <!-- input control for **surname** -->

                <div class="input-group">
                    <label for="surname" class="col-md-2">Surname</label>
                    <input type="text" value="{{=item.surname}}" readonly class="col-md-10 form-control" placeholder="Enter surname" aria-describedby="customer surname">
                </div>

                <!-- select control for **membership** -->

                <div class="input-group">
                    <label for="membership_id" class="col-md-2">Membership</label>
                    <input type="text" value="{{=item.membership.name}}" readonly class="col-md-10 form-control" placeholder="Enter surname" aria-describedby="customer membership">
                </div>

                <!-- edit and delete controls for form fields -->

                <div class="input-group col-md-12">
                    <a href="{{=URL('delete', args=[item.id])}}" class="btn btn-danger">Delete</a>
                    <a href="{{=URL('edit', args=[item.id])}}" class="btn btn-primary">Edit</a>
                </div>

            </div>
        </div>
    </div>
</div>