{{extend 'layout.html'}}

<div class="container">
    <div class="row jumbotron">
        <div class="col-md-12">
            <!-- Content Full Width -->

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Caller Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <th scope="row">1</th>
                    <td>Akram Hussain</td>
                    <td><a href="">Edit</a> | <a href="">Delete</a></td>
                  </tr>

                  <tr>
                    <th scope="row">2</th>
                    <td>Brian Cumin</td>
                    <td><a href="">Edit</a> | <a href="">Delete</a></td>
                  </tr>
                  
                  <tr>
                    <th scope="row">3</th>
                    <td>Jim Sechen</td>
                    <td><a href="">Edit</a> | <a href="">Delete</a></td>
                  </tr>

                </tbody>
              </table>
                        
        </div>
    </div>
    <div class="row jumbotron bg-color_2">
        <div class="col-md-12">

            <h2 class="fg-color_4">About</h2>
            <div class="media">
                <img src="{{=URL('static', '/images/placeholder/350x350.png')}}" class="align-self-start mr-3" alt="The building foyer">
                <div class="media-body">
                    <h5 class="mt-0">sollicitudin tempor id eu nisl</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ullamcorper malesuada proin libero 
                        nunc consequat. Sit amet nulla facilisi morbi tempus iaculis urna. Vivamus at 
                        augue eget arcu dictum varius duis at consectetur. Vestibulum sed.</p>
                    <button class="btn btn-primary pull-right">More...</button>
                </div>
            </div>

        </div>
    </div>
</div>